<h3>Ваши клиенты</h3>

<table class="table table-striped"> 
	 <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Имя</th>
	      <th scope="col">Телефон</th>
	      <th scope="col">Время записи</th>
	      <th scope="col">Парикмахер</th>
	      <th scope="col">Цвет краски</th>
	    </tr>
	 </thead>
	 <tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row['id'] %></td>
				<td><%= row['username'] %></td>
				<td><%= row['phone']%></td>
				<td><%= row['date_time'] %></td>
				<td><%= row['barber'] %></td>
				<td><%= row['color'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
